.form {
    margin: 0 auto;
}

h1{
    font-size: 38px;
}

.form-text {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 15px;
    background-color: rgb(255, 249, 249);
    color: rgb(10, 10, 10);
    box-shadow: 0 8px 6px -6px black;
    font-family: Arial, Helvetica, sans-serif;
}

.form-password {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 15px;
    background-color: rgb(255, 249, 249);
    color: rgb(10, 10, 10);
    box-shadow: 0 8px 6px -6px black;
    font-family: Arial, Helvetica, sans-serif;
}

.form-submit {
    background-color: #ddd;
    padding: 10px 20px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 22px;
}

.container{
    text-align: center;
    margin-top: 100px;
}
