.title {
    margin-top: 70px;
    margin-bottom: 35px;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: rgba(33, 33, 33, 1);
}
.title {
    font-weight: 500;
    margin-top: 70px;
    margin-bottom: 35px;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: rgba(33, 33, 33, 1);
}
.inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin-top: 35px;
    position: relative;
    margin-bottom: 100px;
}
.inner__picture {
    position: relative;
    cursor: pointer;
}
.inner__picture:hover {
     transform: scale(1.1);
 }
.popular-city {
    position: absolute;
    display: block;
    margin: 0 auto;
    top: 168px;
    left: 9px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    width: 200px;
    height: 32px;
    background: #fff;
    border-radius: 30px;
    padding-top: 6px;
}



