.section-details {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url("../../assets/hero_bg.png");
    border-radius: 10px;
    text-align: center;
}

.weather-details {
    position: relative;
    width: 655px;
    height: 320px;
    margin: 0 auto;
    padding: 13px 34px;
    border-radius: 30px;
    background: rgba(248, 345, 255, 0.85);
    color: rgba(33, 33, 33, 1);
}

.weather-details-icon {
    position: absolute;
    top: 122px;
    left: 20px;
    margin-top: 10px;
    width: 130px;
    height: 130px;
}

.weather-details-temp {
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    top: 169px;
    left: 170px;
    color: rgba(33, 33, 33, 1);
}

.weather-details-temp-min {
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    top: 203px;
    left: 170px;
    color: rgba(33, 33, 33, 1);
}

.weather-details-temp-max {
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    top: 235px;
    left: 170px;
    color: rgba(33, 33, 33, 1);
}

.weather-details-feel {
    font-size: 22px;
    font-weight: 500;
    position: absolute;
    top: 171px;
    left: 243px;
    color: rgba(33, 33, 33, 1);
}

.weather-name {
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 7px;
}

.weather-details-descr {
    text-align: center;
    font-size: 24px;
}

.weather-details-date {
    margin-top: 18px;
    font-size: 18px;
    font-weight: 400;
    position: absolute;
    top: 2px;
    right: 56px;
}
