.nav {
    height: 76px;
    background: rgba(250, 250, 250, 1);
    display: flex;
    justify-content: space-between;
}

.button-nav {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin-right: 100px;
}

.nav-menu {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 100px);
}

.logo {
    display: block;
    margin: 5px 10px;
    width: 40px;
    height: 40px;
}

.section {
    margin: 50px 50px;
    height: 315px;
    position: relative;
}

.logout {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin: 17px 200px;
}

.logout span {
    margin-right: 200px;
}
