.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 80%;
    margin-right: 1em;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-weight: 500;
    font-size: 2em;
}

h1 {
    margin-bottom: 50px;
}

.content-dark {
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}

.content-dark span {
    animation: blink linear infinite 2s;
}

.content-dark span:nth-of-type(2) {
    animation: blink linear infinite 3s;
}

.lightswitch {
    height: 200px;
    width: 15%;
}

.lightswitch img {
    display: block;
    position: absolute;
    top: 251px;
    right: 76px;
    height: 150px;
}

.lightswitch img:hover {
    cursor: pointer;
}