.search {
    background: url("../../assets/hero_bg.png");
    min-height: 426px;
}

.auto-search {
    padding-top: 30px;
    position: relative;
    color: rgba(158, 158, 158, 1);
}

.search input {
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 50px;
    color: rgba(33, 33, 33, 1);
    width: 548px;
    height: 43px;
    font-size: 16px;
}

.search-button {
    position: absolute;
    top: 81px;
    right: 500px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: #90caf9;
    opacity: 0.5;
}

.search-input {
    width: 100%;
    outline: none;
    padding: 8px 37px 9px 15px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

.input:focus {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.4);
}
