.weather {
    position: relative;
    width: 532px;
    height: 210px;
    margin: 0 auto;
    padding: 13px 34px;
    border-radius: 30px;
    background: rgba(248, 345, 255, 0.85);
    color: rgba(33, 33, 33, 1);
}

.weather-city-temp {
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    top: 56px;
    left: 170px;
    color: rgba(33, 33, 33, 1);
}

.weather-city-date {
    margin-top: 18px;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    top: 34px;
    right: 56px;
}

.weather-icon {
    position: absolute;
    top: 4px;
    left: 20px;
    margin-top: 10px;
    width: 130px;
    height: 130px;
}

.weather-city-name {
    position: absolute;
    top: 14px;
    right: 156px;
    font-size: 26px;
    font-weight: 500;
}

.weather-city-figcaption {
    position: absolute;
    top: 99px;
    left: 170px;
    font-weight: 400;
    font-size: 17px;
    color: rgba(33, 33, 33, 1);
}

.weather-city-details {
    position: absolute;
    top: 159px;
    right: 97px;
}

.weather-city-favorite {
    position: absolute;
    top: 140px;
    right: 38px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.weather-city-like-img {
    width: 19px;
    height: 19px;
    margin-top: 23px;
    margin-left: 10px;
}