.history {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
}

.history-dark {
    background-color: #000;
}

.history-light {
    background-color: rgb(216,216,216);
}